.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-img {
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background-position: 81.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/public/static/img/hero-img.jpeg");
}

.header-img-overlay {
  background: linear-gradient(
    154.91deg,
    rgba(174, 89, 9, 0.48) 2.62%,
    rgba(91, 48, 7, 0.3168) 102.51%
  );
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.smm {
  background-image: url("/public/static/img/SMM.jpg");
  height: 500px;
}

.ptw {
  background-image: url("/public/static/img/ptw.jpeg");
  height: 500px;
}
